<div layout="row" layout-align="center center">
  <div flex="70">
    <h1 class="searched-city">{{ searchReturn.city.name }}, {{ searchReturn.city.country }}<br><span>{{ currentDate | date: 'MMM d, EEEE - h:mma' }}</span></h1>
  </div>

  <div flex="30" class="input-wrapper">
    <md-content class="md-padding">
      <md-autocomplete
        md-selected-item="search"
        md-selected-item-change="fetch(searchText)"
        md-search-text="searchText"
        md-items="item in commonCities | filter: searchText"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Insert city name">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{ item.name }}</span>
        </md-item-template>
      </md-autocomplete>
    </md-content>
  </div>
</div>

<div layout="column">
  <div layout="row" layout-wrap>
    <md-card style="width: 23.4%;" ng-repeat="card in searchReturn.list">
      <md-card-content class="weather-cards">
        <h2>{{ cardsDate[$index] }}</h2>
        <div class="md-card-image wi" ng-class="getWeatherIcon(card.weather[0].icon)"></div>
        <p class="day-description">{{ card.weather[0].description }}</p>
        <p>
          <strong>Max. Temp:</strong> {{ card.temp.max }}°<br>
          <strong>Min. Temp:</strong> {{ card.temp.min }}°
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="seeDetails($index)">see more</md-button>
      </div>
    </md-card>
  </div>
</div>


