
<div layout="column">
  <div flex>
    <md-content class="md-padding input-wrapper">
      <md-autocomplete
        md-selected-item="search"
        md-selected-item-change="fetch()"
        md-search-text="searchText"
        md-items="item in commonCities | filter: searchText"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Insert city name">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{ item.name }}</span>
        </md-item-template>
      </md-autocomplete>
    </md-content>
  </div>
  <div flex>
    <h1>{{ searchReturn.city.name }}, {{ searchReturn.city.country }}</h1>
    <h4>{{ actualDate | date: 'MMM d, EEEE - h:mma' }}</h4>
  </div>
</div>

<div layout="column">
  <div layout="row" layout-wrap>
    <md-card style="width: 23.4%;" ng-repeat="card in searchReturn.list">
      <md-card-content class="weather-cards">
        <h3>{{ cardsDate[$index] }}</h3>
        <div class="md-card-image wi" ng-class="getWeatherIcon(card.weather[0].icon)"></div>
        <p>{{ card.weather[0].description }}</p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>see more</md-button>
      </div>
    </md-card>
  </div>
</div>


